body, a, * {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', 'Roboto', sans-serif;
}

/* responsive desktop: unwanted elements on desktop */

.hamburger-menu {
    display: none;
}

.lightBox-nav {
    display: none;
}

/* end of responsive desktop */

.container {
    width: 80%;
    margin: auto;
}

header > nav {
    display: flex;
    flex: row nowrap;
    align-items:  center;
    border-bottom: 2px solid hsl(223, 64%, 97%);
}

/* creates the space between the logo and the first list-item  */
nav > div:nth-child(2) {
    display: flex;
    flex-grow: 1;
}

.list-items > a {
    color: hsl(220, 14%, 75%);
    font-weight: 500;
    text-align: center;
    margin-right: 22px;
    padding: 40px 0px 36px 0;
    border-bottom: 3px solid #ffffff;
}

.list-items > a:hover {
    color: black;
    padding: 40px 0px 36px 0;
    border-bottom: 3px solid hsl(26, 100%, 55%);
}

/* creates the space between the last list-item and the cart icon */
.list-items:nth-child(7) {
    display: flex;
    flex-grow: 9;
}

.cartIcon img {
    width: 17px;
}

.avatar > img {
    width: 45px;
    padding: 0;
    margin-left: 30px;
    border: 2px solid #ffffff;
}

.avatar img:hover {
    border-radius: 50%;
    border: 2px solid hsl(26, 100%, 55%);
}

/* main section begins */

main {
    width: 92%;
    margin: auto;
    display: flex;
    flex: row wrap;
    align-items: center;
    padding-top: 70px;
}

.leftCon {
    flex: 20%;
}

.lightbox > img {
    width: 100%;
    border-radius: 10px;
}

.thumbnails {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}

.thumbnails > div > img {
    width: 68px;
    border-radius: 6px;
}

.thumbnails > div {
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #ffffff;
}

.thumbnails > div:hover {
    display: flex;
    border-radius: 8px;
    border: 2px solid hsl(26, 100%, 55%);
}

.thumbnails > div > img:hover {
    opacity: 0.3;
    display: flex;
    border-radius: 8px;
}

.active {
    display: flex;
    border-radius: 8px;
    border: 2px solid hsl(26, 100%, 55%) !important;
}

.active > img {
    opacity: 0.3;
    display: flex;
    border-radius: 8px;
}

.rightCon {
    flex: 50%;
    text-align: left;
    padding: 0 16% 0 10%;
}

.rightCon > h4 {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 14px;
    color: hsl(26, 100%, 55%);
}

.rightCon > h1 {
    color: black;
    font-size: 36px;
    line-height: 1.1em;
    margin-bottom: 20px;
}

.rightCon > p {
    color: hsl(219, 9%, 45%);
    font-size: 15px;
    font-weight: 500;
    flex-wrap: wrap;
    line-height: 1.6em;
}

.price > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.price > div > div > h2 {
    color: black;
    font-size: 22px;
    font-weight: 800;
    padding-right: 12px;
}

.price > div > div > h3 {
    font-size: 13px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    padding: 2px 6px;
    border-radius: 4px;
    background-color: hsl(25, 100%, 94%);
}

.price > h5 {
    font-size: 14px;
    margin-top: 10px;
    text-decoration: line-through;
    color: hsla(217, 9%, 45%, 0.362);
}

.btnWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 30px;
    margin-top: 30px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    flex: 40%;
    color: black;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    /* padding: 14px 18px; */
    margin-right: 3%;
    border-radius: 8px;
    background-color: hsla(228, 15%, 94%, 0.865);
}

.quantity img {
    cursor: pointer;
    padding: 18px 18px;
}

.addToCart {
    flex: 60%;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 24px;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: hsl(26, 100%, 55%);
    box-shadow: 0px 10px 40px -15px hsl(26, 100%, 55%);
}

.addToCart:hover {
    cursor: pointer;
    background-color: hsla(26, 100%, 55%, 0.743);
}

.addToCart > img {
    width: 15px;
    margin-right: 10px;
}

/* mobile responsive */

@media screen and (max-width: 700px) {

    .container {
        width: 100%;
        margin: auto;
    }

    main {
        width: 100%;
        padding: 0 0 50px 0;
        flex-direction: column;
    }

    header > nav {
        border: none;
        padding: 20px 30px;
    }

    nav > .list-items {
        display: none !important;
    }

    .avatar > img {
        width: 30px;
    }

    .hamburger-menu {
        display: flex;
        margin-right: 16px;
    }
    
    .lightbox {
        display: flex;
    }

    .lightbox > img {
        border-radius: 0;
    }

    .lightBox-nav {
        display: flex;
        position: relative;
        bottom: 260px;
        margin: -5px 20px;
        justify-content: space-between;
    }

    .lightBox-nav > div {
        padding: 13px 18px;
        border-radius: 50%;
        background-color: #ffffff;
    }

    .lightBox-nav > div > img {
        width: 10px;
    }

    .thumbnails {
        display: none;
    }

    .rightCon {
        text-align: left;
        padding: 0 8%;
    }

    .rightCon > h1 {
        font-size: 30px;
    }

    .rightCon > p {
        padding: 0;
    }

    .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .btnWrapper {
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        
    }

    .quantity {
        margin: 0 0 18px 0;
    }

}


